@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css or global.css */
body {
  @apply bg-white text-gray-900;
}

html.dark body {
  background-color: #111827 !important;
}
html,
body {
  height: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}



/* Optional: custom font and reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -8px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}